* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(2, 77, 2);
  color: white;
  padding: 1rem;

}

nav {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-bottom: 1rem;


}

ul {
  display: flex;
}

.App-container {
  background-color: white;
  padding: 1rem;
  color: black;
  height: 35rem;
}

.App li {
  list-style-type: none;
  padding-right: 20px;
  padding: 5px 10px;
  background-color: green;
  border-right: 10px solid rgb(2, 77, 2);
}

.appLinks {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.home {
  background-color: white;
}

.home img {
  width: 400px;
  color: black;
  padding: 1rem;


}

.home-container {
  background-color: orange;
  padding: 1rem;
}

.home img {
  width: 400px;
  height: auto;
}

.menu {
  background-color: white;
  padding: 1rem;
  color: black;
  height: 35rem;
}

.menu nav {
  background-color: orange;
  display: flex;

}

.menu nav li {
  background-color: orange;
  padding: 2px;
  border-right: 20px solid orange;
  border-radius: 20px;
  padding-top: 20px;



}

.menuLinks {
  text-decoration: none;
  background-color: green;
  padding: 5px 10px;
  margin: 10px;
  color: orange;
  border-radius: 5px;
  font-size: 20px;


}

.menu-container {
  background-image: url("src/Menu/images/bg.jpg");

}

.menuLinks:hover {
  color: white;
  font-size: 25px;
}

.breakfast {
  background-color: rgb(44, 44, 129);
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;


}

.breakfast-Wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  gap: 10px;
  overflow: auto;
  overflow: hidden;
  justify-content: center;

}

.lunch-Wrapper,
.breakfast-Wrapper {
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 40px;
  justify-content: center;
  padding: 30px;
}


.lunch-container,
.breakfast-container {
  background-color: green;
  color: white;
  padding: 0px 10px;
  transition: 0.2ms;
  border-radius: 10px;

}

.lunch-Menu img,
.breakfast-Menu img {
  height: 200px;
  width: 300px;
}

.lunch-Menu .details,
.breakfast-Menu .details {
  padding: 15px;
}

.lName,
.bName,
.bDesc p,
.lDesc p {
  margin-bottom: 10px;
}

.id {
  padding-left: 5px;
}

/* Contact */

.contact {
  background-color: white;
  color: black;
  padding: 1rem;
  height: 35rem;

}

.contact-container {
  background-color: orange;
  padding: 1rem;

}

.contact-footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.Footer-content {
  padding-bottom: 2rem;
}