*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(2, 77, 2);
  color: white;
  padding: 5rem;
}

nav{
  display: flex;
  justify-content: center;
  
}
ul{
  display: flex;
}
.App li{
  list-style-type: none;
  padding-right: 20px;
  padding: 5px 10px;
  background-color: green;
  border-right: 10px solid  rgb(2, 77, 2);
}
.appLinks{
  text-decoration: none;
  font-size: 20px;
  color: white;
  

}
.home{
  background-color: white;
}
.home img{
  width: 400px;
  height: auto;
}
.menu{
  background-color: white;
  padding: 1rem;
 

}
.menu nav{
  background-color: orange;
  display: flex;

}

.menu nav li{
  background-color: orange;
  padding: 5px;
  border-right: 20px solid orange;
  border-radius: 20px;


}
.menuLinks{
  text-decoration: none;
  background-color: green;
  padding: 2px;
  color: orange;
  border-radius: 5px;


}
.menuLinks:hover{
  color: white;
  font-size: large;
}

.breakfast{
  background-color: rgb(44, 44, 129);
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;

  
}
.breakfast-Wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  gap: 10px;
  overflow: auto;
  overflow: hidden;
  justify-content: center;
  
}
.lunch-Wrapper, .breakfast-Wrapper{
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 40px;
  justify-content: center;
  padding: 30px;
}

.lunch-Wrapper:hover{

}


.lunch-container{
  background-color: green;
  color: white;
  padding: 0px 10px;
  transition: 0.2ms;
  border-radius: 10px;

}
.lunch-container:hover{
  transform: scale(1.2);

  

}
.lunch-Menu{
  

}
.lunch-Menu:hover{
  
}

.lunch-Menu img{
  height: 200px;
  width: 300px;
}
.lunch-Menu .details{
  padding: 15px;
}
.lName{
padding-bottom: 10px;
}
.id{
  padding-left: 5px;
}
